* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: none;
}

// Grid
td.columns,
td.column,
th.columns,
th.column {
  padding-left: $global-gutter;
}

.container.transparent {
  background-color: transparent;
}

hr {
  border-top: 0;
  border-bottom: 1px solid #F3F3F3;
  margin: 20px 0 30px;
}

//Typography
// @import url('https://design-kit.arc.ht/fonts/avenir_next/avenir_next.css');

h1,
h2,
h3,
h4, 
h5 {
  font-family: $body-font-family;
  letter-spacing: 0.3px !important;
  line-height: 1.5;
}

h6 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .5px;
}

p {
  color: $dark-gray;
  line-height: 1.5;
}

.serif {
  font-family: $body-font-family-serif;
  line-height: 1.65;
  letter-spacing: .02em;
}

.header-link {
  float: right;
  margin-left: 10px;
  color: $black;
}

.more-link {
  font-size: 12px;
}

p.footer-text {
  color: $dark-gray;
  line-height: 1.65;
  letter-spacing: 0.2px;
  font-size: 11px;
  text-align: center;
  a {
    color: $black;
  }
}

.pill {
  padding: 2px 9px;
  border-radius: 12px;
  background-color: $aqua;
  font-size: 90%;
  color: $white;
}

// Font Sizes
$font-sizes: ( 
  s: 10px,
  m: 13px,
  base: 16px,
  l: 20px
);

@each $size, $value in $font-sizes {
  .fs-#{$size} {
    font-size: $value;
  }
}

// Font Colors
$font-colors: ( 
  blue: #2199e8,
  green: #3ADB76,
  orange: #ff6908,
  red: #ec5840,
  gray: #777777,
  medium-gray: #cacaca,
  dark-gray: #5E647D,
  black: #292D3E,
  white: #fefefe,
  quicksilver: #859DAF,
  gunmetal: #B8C8D1
);

@each $color, $hex in $font-colors {
  .#{$color} {
    color: $hex;
  }
}

.bold {
  font-weight: 700;
}

// Images
.logo{
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin: 0 auto;
  }
}

.feature-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.article-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 4px;
}

.banner {
  border-radius: 3px;
  h5 {
    color: $white;
    margin: 10px 16px 0;
    margin-bottom: 0;
  }
  .button {
    padding: 5px 12px;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: $primary-color;
    border-radius: 2px;
    float: right;
    /* Small only */
    @media only screen and (max-width: #{$global-breakpoint}) {
      float: none;
      display: block;
      margin-top: 4px;
    }
  }
}

.img-standard {
    // padding-top: 100%;
    // height: 130px;
    // width: 100%;
    position: relative;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-bottom: 6px;
  }

.small-center {
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin: 0 auto;
  }
}


// Utilities
.mb-0 {
  margin-bottom:0;
}

  //Transparent spacer to use between cards
.air {
  background-color: $body-background;
}







