// Grid
td.columns,
td.column,
th.columns,
th.column {
  padding-left: $global-gutter;
}

.container.transparent {
  background-color: transparent;
}

hr {
  border-top: 0;
  border-bottom: 1px solid #F3F3F3;
  margin: 20px 0 30px;
}

//Typography
h1,
h2,
h3,
h4, 
h5 {
  letter-spacing: 0.3px !important;
  line-height: 1.5;
  font-weight: 500;
}

h6 {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: .3px;
}

.serif {
  font-family: $body-font-family-serif;
  line-height: 1.65;
  letter-spacing: .02em;
}

.header-link {
  float: right;
  margin-right: 10px;
  color: $black;
}

.more-link {
  font-size: 12px;
}

.footer-text {
  color: $black;
  line-height: 1.65;
  letter-spacing: 0.2px;
  font-size: 11px;
}

.date {
  color: $dark-gray;
  font-weight: 300;
}

// Images
.feature-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
  // background-position: center;
  // background-size: cover;
}
.article-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 4px;
  // background-position: center;
  // background-size: cover;
}

.banner-image {

}

// Utilities
.mb-0 {
  margin-bottom:0;
}