* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Grid
td.columns,
td.column,
th.columns,
th.column {
  padding-left: $global-gutter;
}

.container.transparent {
  background-color: transparent;
}

hr {
  border-top: 0;
  border-bottom: 1px solid #F3F3F3;
  margin: 20px 0 30px;
}

//Typography
// @import url('https://design-kit.arc.ht/fonts/avenir_next/avenir_next.css');

h1,
h2,
h3,
h4, 
h5 {
  font-family: $body-font-family;
  letter-spacing: 0.3px !important;
  line-height: 1.5;
}

h6 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .5px;
}

p {
  color: $dark-gray;
}

.serif {
  font-family: $body-font-family-serif;
  line-height: 1.65;
  letter-spacing: .02em;
}

.header-link {
  float: right;
  margin-right: 10px;
  color: $black;
}

.more-link {
  font-size: 12px;
}

p.footer-text {
  color: $dark-gray;
  line-height: 1.65;
  letter-spacing: 0.2px;
  font-size: 11px;
  a {
    color: $black;
  }
}

// Images
.feature-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.article-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 4px;
}

.banner {
  border-radius: 3px;
  h5 {
    color: $white;
    margin: 10px 16px 0;
    margin-bottom: 0;
  }
}

// Utilities
.mb-0 {
  margin-bottom:0;
}